# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore all target directories
target/git a

# ignore all files ending with ~
*~ 

.mymetadata
.project
.settings/
.externalToolBuilders
.git/

